page-add-item {
    .placeholder {
        color: #a1a1a1;
    }

    .warning {
        font-size: 0.8em;
        color: lightcoral;
    }

    textarea {
        max-width: 100%;
        width: 100%;
        height: 20vh;
    }
}
