<ion-header>

  <ion-navbar color="primary">
    <ion-title>
      ToDev List
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item-sliding *ngFor="let item of items; let i = index" (click)="itemDetail(item)">
      <ion-item>{{item.title}}</ion-item>
      <ion-item-options>
        <button padding ion-button (click)="delete(i)" color="danger"><ion-icon name="trash"></ion-icon></button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <div *ngIf="items.length === 0">
    <img src="assets/images/empty-list.png">
  </div>

  <ion-fab right bottom>
    <button ion-fab color="dark" (click)="addItem()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  
</ion-content>