page-home {

    .item-md {
        background-color: transparent;    
        padding-left: 0; 
        margin-left: 0;
        color: white;
    }    

    .completed {
        text-decoration: line-through;
        color: lightgray;
    }

    .spinner-position {
        text-align: center;
        margin-bottom: 40px !important;
    }

    .limbo-button {
        font-size: 2em;        
    }

    .h2-limbo {
        margin-left: 12px;
    }

    img {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    ion-list {
        color: black; 
        margin-top: 5px !important;
    }   

    ion-checkbox {
        margin-right: 20px !important;
        margin-left: 20px !important;
    }

    ion-label {
        color: black;
    }
     
    ion-datetime {
        font-size: 10px;
    }
}    
